<div class="container chatline" chatid=<%- chatid%>>
  <span>IMG/ICON</span>
  <h3 style=" display: inline;"><%= chatName %></h3>
  <% if(unread != 0){%>
  <span class="badge badge-pill badge-dark"><%= unread%></span>
  <%}%>
</div>