<div class="container mt-3">
    <div class="active-cyan-4 mb-3">
        <input type="text" name="uName" id="uname" class="form-control" placeholder="Search">
    </div>
    <div id="chatsearch" class="chat-search-results"></div>
</div>