<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/messages.css" />
    <title>Chat | <%= chatName%></title>
  </head>

  <body>
    <%- include('partials/header',{username:username}) %>
    <div class="container box" id="chat-history-container">
      <div class="chat-name mt-3" id="title">
        <span>IMG/ICO</span>
        <h3 style="display: inline;"><%= chatName%></h3>
      </div>
      <hr />
      <div class="chat-history mb-2" id="chatHistory">
        <%- include('partials/chatHistory',{chatName:chatName,chat:chat}) %>
      </div>

      <div class="container d-flex">
        <input
          type="text"
          name="msg"
          id="msg"
          placeholder="Enter Message..."
          class="form-control mb-1"
        />
        <a href="#" class="btn btn-primary m-2" id="sendBtn">Send</a>
      </div>
    </div>

    <%include ./partials/footer%>

    <script>
      window.onload = function() {
        var objDiv = document.querySelector('.chat-history');
        objDiv.scrollTop = objDiv.scrollHeight;
      };
    </script>
    <script src="/js/jQuery.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/chatPage.js"></script>
  </body>
</html>
